name: updater

on:
  schedule:
    - cron: "0 7 * * *"
  
  workflow_dispatch:

jobs:
  updater:
    runs-on: ubuntu-latest
    steps:
      - name: Updates
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
